:root {
  --primary: #2F80ED;
  --secondary: #4F4F4F;
  --tertiary: #BB6BD9;
  --success: #27AE60;
  --error: #EB5757;
  --warning: #F2C94C;
  --bright: #F2F2F2;
  --dark: #333333;
  --border: #c4c4c4;
}